.ipynb_checkpoints/README-checkpoint.md
Infrastructures/.ipynb_checkpoints/schooldistrict_geojson-checkpoint.ipynb
Midterm - Spills/.ipynb_checkpoints/Combined-checkpoint.ipynb
Infrastructures/.ipynb_checkpoints/SchoolDistrictSafety-checkpoint.csv
Group Assignments/.ipynb_checkpoints/Week8-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
final/wells and race/.ipynb_checkpoints/acs2019 five year stats-checkpoint.csv
final/wells and race/.ipynb_checkpoints/idle wells and race-checkpoint.ipynb
